<main class='p-5'>
  <div class='card p-5'>
    <p id='test'>
      Hello world! Hello world!Hello world!Hello world!Hello
      world!Hello world!Hello world!
    </p>
    <p id='test'>
      Hello world!
    </p>
    <p hidden id='test'>
      Hello world!
    </p>
    <span> span</span>
    <span class='test'> test</span>
    <span class='span-b'>span test</span>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

  </div>

  <pre>jsgfdfsg</pre>

  {{! <div style='margin:30px'> }}
  {{! <div style='margin: 10px 50px'> }}
  {{! <div style='margin: 10px 50px 100px 200px'> }}
  {{! <div style='margin: 10px 0'> }}
  <div
    style='padding: 10px 0 50px 100px; background:gray; height: 200px;'
  >
    <span>Inline</span>
    <span>Category cat</span>
    <span>Category dog</span>
    <span>Category fish</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class='block'>Inline-block</span>

    <span class='block'>Inline-block
    </span>
  </div>

  <div>Block</div>
</main>