<html>

  <head>
    <title>
      Slack page - Home work
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack_hw.css' rel='stylesheet' />

  </head>

  <body>

    <div class='page'>
      <section class='page_section page_section_light'>
        <div class='page_content features_section'>
          <h2 class='title features_title'>What you need,
            when you need it</h2>

          <p class='features_description double_line'>Spend
            less time shuffling tabs with a comprehensive
            message archive and all your work tools at your
            fingertips.</p>

          <div class='features_grid_3'>
            <div class='feat_card double_row'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature_hw/apps_and_int.svg')"
              ></span>
              <strong>Apps and Integrations</strong>
              <p class='double_line'>Streamline work by
                connecting Slack with other services like
                Google Drive, Office 365 and over 2,200
                more.</p>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
                style="background-image: url('/svg/arrow-right.svg')"
              ></a>
            </div>

            <div class='feat_card double_row'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature_hw/workflow_builder.svg')"
              ></span>
              <strong>Workflow Builder</strong>
              <p class='double_line'>Automate routine
                actions and communication, so you can get
                back to the kind of work only humans can do.</p>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
                style="background-image: url('/svg/arrow-right.svg')"
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature_hw/search.svg')"
              ></span>
              <strong>Search</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
                style="background-image: url('/svg/arrow-right.svg')"
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature_hw/file_sharing.svg')"
              ></span>
              <strong>File sharing</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
                style="background-image: url('/svg/arrow-right.svg')"
              ></a>
            </div>

          </div>

        </div>
      </section>

      <section class='page_section'>
        <div class='page_content feedback_section'>
          <img
            src='/img/img-deliveroo.png'
            alt='Deliveroo'
            class='feedback_image'
          />
          <div class='feedback'>
            <q class='feedback_text'>The thing that keeps us
              connected the most is Slack. It’s a very
              immediate and straightforward method of
              communication, and really the only channel
              that people prefer and enjoy using.</q>
            <img
              src='/img/deliveroo.png'
              alt='Deliveroo logo'
              class='feedback_logo'
            />
            <span class='feedback_bottom_text'>Will Sprunt,
              CIO, Deliveroo</span>
          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content more_about'>
          <h2 class='title more_about_title'>Explore more
            about working in Slack</h2>
          <div class='more_about_cards_set'>
            <div class='more_about_card'>
              <img
                src='/img/slack_more_about/slack-tutorials.png'
                alt='Slack tutorials'
                class='more_about_card_img'
              />
              <div class='more_about_card_text'>
                <span
                  class='more_about_card_img_caption'
                >Slack Tutorials</span>
                <h3 class='more_about_card_title'>Slack 101</h3>
              </div>
              {{>learn_more}}
            </div>

            <div class='more_about_card'>
              <img
                src='/img/slack_more_about/slack-vs-email.png'
                alt='Slack vs. Email'
                class='more_about_card_img'
              />
              <div class='more_about_card_text'>
                <span
                  class='more_about_card_img_caption'
                >Slack vs. Email</span>
                <h3 class='more_about_card_title'>An easier,
                  more organized way to work</h3>
              </div>
              {{>learn_more}}
            </div>

            <div class='more_about_card'>
              <img
                src='/img/slack_more_about/customers-stories.png'
                alt='Customer Stories'
                class='more_about_card_img'
              />
              <div class='more_about_card_text'>
                <span
                  class='more_about_card_img_caption'
                >Customer Stories</span>
                <h3 class='more_about_card_title'>How Fastly
                  uses Slack Connect to wow enterprise
                  customers</h3>
              </div>
              {{>learn_more}}
            </div>
          </div>
        </div>
      </section>

    </div>

  </body>

</html>