@import '/css/var.css';

@font-face {
  font-family: "Segment";
  src: url('/font/Segment-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Segment";
  src: url('/font/Segment-SemiBold.otf');
  font-weight: 600;
}

/* @layer main, secondary; */

@layer normalize, main, component, style;

@keyframes fly {
  from {
    top: 0;
    left: 0;
    background: red;
  }

  25% {
    top: 500px;
    left: 500px;
    background: blue;
    width: 100px;
  }

  50% {
    left: 0;
    background: yellow;
    width: 0px;
  }

  to {
    top: 0;
    left: 0;
    background: purple;
    /* width: 100px; */
  }
}

/* ====================================== */

* {
  font-family: 'Roboto';
}

.page {
  background: var(--color-white);
  /* padding: 0 15px; */
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  padding-top: 74px; 
}

/* ====================================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--text-color, var(--color-border));

  display: flex;
  justify-content: space-between;

  /* position: fixed; */
  position: sticky;

  /* width: var(--page-width); */

  max-width: var(--page-width);
  width: 100%;

   top: 0;
  /* left: calc(50% - (var(--page-width) / 2)); */

  background-color: var(--color-white);

  z-index: 1;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  flex-direction: column;
  gap: var(--space-xm);
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover{
  color: var(--color-primary);
  text-decoration: underline;

  /* opacity: 20%; */

  /* transition-property: color;
  transition-duration: 1s; */

  transition: color 1s;
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--text-color, var(--color-border));
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  font-weight: var(--weight-title);
  color: var(--color-title);
  display:block;
  margin-bottom: var(--space-l);
}

.hero {
  display: flex;
  gap: var(--space-b);
  align-items: center;

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.hero_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.hero_title {
  font-size: 50px;
  font-weight: var(--weight-title);
  color: var(--color-title);
  line-height: 120%;
}

.hero_text {
  font-weight: var(--weight-text);
  font-size: var(--size-l);
  color: var(--color-text);
  line-height: 170%;
}

.blog {
  display: flex;
  gap: var(--space-b);

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-l);
}

.card_image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.card_title {
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.card_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
}

@layer main {
  .button {
    display: inline-block;
    font-size: var(--size-m);
    text-decoration: none;
    padding: var(--space-m) var(--space-xm);
    border-radius: var(--border-radius);
  
    /* transition: opacity 1s, background-color 1s; */
  
    transition-property: opacity, background-color, color;
    transition-duration: 1s;
  }
  
  .button:hover {
    opacity: 0.7;
    background-color: yellow;
    color: red;
  }
}

@layer component {
  .card_button {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--border-radius);
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
  font-size: 27px;
  font-weight: var(--weight-title);
  color: var(--color-white);
}

.form_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
}

.form_button {
  background-color: var(--color-white);
  width: 100%;
  max-width: 160px;
  color: var(--color-text);
}

.hero_image {
  /* position: relative; */
  /* left: 100px; */
  /* right: 100px; */
  /* right: -100px;
  top: -300px; */
  /* bottom: 300px; */

  /* position: absolute; */
  /* left: 100px;
  bottom: 300px; */

  /* left: 0px;
  bottom: 0px; */

  /* left: 100%;
  bottom: 100%; */

  /* left: calc(100% - 500px); */
  /* right: 0;
  top: 102%; */
}

.hero {
  /* position: relative; */
}

.hero_slider_icon {
  background: var(--color-primary);

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);
  color: var(--color-white);

  position: absolute;
  /* position: fixed; */
  top: calc(50% - 15px);
}

.hero_slider_icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hero_slider {
  position: relative;

  /* z-index: 2; */
}

.hero_slider_left {
  left: var(--space-l);
}

.hero_slider_right {
  right: var(--space-l);
}

.modal {
  position: fixed;
  /* position: sticky; */
  top: 200px;
  left: 200px;

  /* height: 100px; */
  width: 600px;
  background: rgba(0, 0, 0, 0.295);
  color: white;
  padding: 24px;
  border-radius: 24px;
  line-height: 150%;

  z-index: 2;

  /* transition: top 1s; */

  /* transition-property: top;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);

  transition-delay: 3s; */


  animation-name: fly;
  animation-duration: 4s;

  animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 1s;

  /* animation-iteration-count: infinite; */

  animation-direction: reverse;
  animation-direction: alternate;

  animation-fill-mode: forwards;
  animation-fill-mode: both;

}

body:hover .modal {
  animation-play-state: paused;
}

/* body:hover .modal { */
  /* top: 600px; */
  /* animation-name: fly;
  animation-duration: 4s;

  animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 3s; */
/* } */

.modal_image {
  height: 600px;
  width: 700px;
  /* float: left;
  float: right;
  float: none; */
  
  float: right;
  float: left;
  margin-right: 12px;
  margin-top: 12px;

  /* object-fit: contain;
  object-fit: cover;
  object-fit: fill; */

  object-fit: none;
  object-fit: scale-down;
  background-color: aqua;

  object-position: top right;
  object-position: 10px 10px;
}

.modal_text {
  clear: left;
  clear: both;
}

.hero {
  user-select: none;
}

.input {
  caret-color: blueviolet;
  background: gray;
  border: 1px solid var(--color-title);
  width:fit-content;
}

:root {
  scroll-behavior: smooth;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

/* @media all and (min-width: 0px) and (max-width: 600px) {
  .blog {
    grid-template-columns: 1fr;
  }
} */

/* @media all and (min-width: 601px) and (max-width: 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* @media all and (min-width: 601px) and (max-width: 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* @media all and (min-width: 601px) and (max-width: 800px), all and (min-width: 1000px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* @media all and (not (min-width: 800px)) {
  .page_content {
    background: red;
  }
} */

/* @media all and (max-width: 800px) {
  .page_content {
    background: red;
  }
} */

/* @media all and (max-height: 600px) {
  .page_content {
    background: rgb(0, 255, 4);
  }
} */

@media all and (width <= 600px) {
  .blog {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (600px < width <= 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form {
  gap: var(--space-l);
}

@media all and (width <= 623px) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .form_info {
    max-width: 300px;
    width: 100%;

    line-height: 150%;
  }

  .form_content {
    align-items: center;
    text-align: center;
  }
}

.hero_container {
  /* container-type: size; */

  /* container-type: inline-size; */
  container-type: inline-size;
  container-name: hero;

  /* height: 500px; */

  /* min-height: 500px; */

  /* min-height: max-content; */
}

/* .page_content {
  display: grid;

  grid-template-columns: repeat(3, 300px);
} */

@container hero (width < 960px) {
  .hero {
    flex-direction: column;
  }
}

@layer style {
  .card_button {
    background: red;
  }
}

@layer main {
  .card_button {
    background: yellow;
  }
}

.ex {
  /* font-size: 1ex; */
  /* font-size: 16px; */
  font-size: 1.5em;

  display: inline-block;
  margin-left: 1ex;

  line-height: 1.5em;
}

/* .test {
  position: absolute; */
  /* position: fixed;  */  /*for modal windows */
  /* background: red;
  top: 0;
  left: 0; */

  /* height: 100vh;
  width: 100vw; */

  /* height: 100vmin;
  width: 100vmin; */
  /* height: 100vmax;
  width: 100vmax;
  z-index: 9999;
} */

.hero_title {
  /* font-size: 5cqw; */

  /* font-size: 5%; */

  font-size: 10cqh;
}
