:root {
  --text-color:green;
  --space-medium: 24px;
}

.page {
  background: #FFFFFF;
  padding: 0 15 px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding:var(--space-medium);
  border-bottom: 1px solid var(--text-color, #DEE2E6);
}

.logo {
  font-size: 17px;
}

.divider {
  margin:0;
  height:1px;
  background:var(--text-color, #DEE2E6);
}

.nav {
  display:block;
}

.nav_link {
  color: #343A40;
  font-size:16px;
  text-decoration:none;
}

.nav_link:hover{
  color:blue;
  text-decoration:underline;

  opacity:20%;
}

.nav_vertical > .nav_link {
  display:block;
}

.nav_inline > .nav_link:not(:last-child){
  margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child){
  margin-bottom: 12px;
}

.header-nav-right{
  margin-left: auto;
  width:fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding:var(--space-medium) 0;
  border-top: 1px solid var(--text-color, #DEE2E6);
}
.footer_copyright {
  font-size:14px;
  color: #6C757D;
  display:block;
  margin-top:12px;
}

.footer_title {
  font-size:20px;
  color: #212529;
  display:block;
  margin-bottom: 12px;
}

.hero_title {
  font-size:56px;
  color:#212529;
  font-weight:500;
  margin-bottom:12px;
  text-align: center;
  line-height: 10px;
  line-height: 150%;

  max-width:660px;
  margin: 0 auto;
  margin-bottom:12px;
  height:85px;
  /* overflow:hidden; */
  /* text-overflow: ellipsis; */
  /* white-space:pre; */
  white-space:nowrap;
}

.overflow {
  overflow-wrap: anywhere;
  overflow-wrap: break-word;
}

.hero_text {
  /* color:hsba(210, 20%, 16%, 1);
  font-size:20px;
  text-align:center;
  max-width:585px;
  margin: 0 auto;
  line-height:150%;
  line-height:1.5; */
  background:gray;
  text-align:left;
  /* max-width:250px; */
  /* width:min-content; */
  /* width:200px; */
  /* word-break:break-all;
  word-break:keep-all;
  word-break:break-word; */
hyphens:manual;

overflow: auto;
/* resize:both; */
/* resize:vertical; */
/* resize:horizontal; */
word-spacing:10px;

  /* white-space:nowrap;
  white-space:pre;
  white-space:pre-wrap; */
  /* white-space:break-spaces; */
  /* white-space:pre-line; */
}

.plans_card:not(:last-of-type) {
  margin-right:var(--space-medium);
}

.card-header {
  padding:12px;
  text-align:center;
  font-size:var(--space-medium);
  color:hsba(210, 20%, 16%, 1);
}

.card-body {
  padding:var(--space-medium);
}

.card_price_amount {
  font-size:40px;
  color: hsba(210, 20%, 16%, 1);
}

.card_price_duration {
  font-size:29px;
  color: hsba(208, 14%, 49%, 1);
  vertical-align:baseline;
  vertical-align:sub;
  vertical-align:super;
  vertical-align:top;
  vertical-align:text-top;
  vertical-align:middle;
  vertical-align:bottom;
  vertical-align:text-bottom;
  vertical-align: 50%;
  vertical-align:-50%;
  vertical-align:70px;
}

.card_block {
  text-align:center;
}

.card_block:not(:last-of-type) {
  margin-bottom:var(--space-medium);
}

.card-description_item {
  font-size:16px;
  color: hsba(210, 20%, 16%, 1);
  display:block;
}

.card-description_item:not(:last-of-type) {
  margin-bottom:12px;
}

.card_button {
  display:block;
  width: 100%;
  font-size:19px;
  padding:9px;
}

.card {
  /* border: 1px solid red; */
  /* border-left: 1px solid red;
  border-top: 1px solid blue;
  border-right: 1px solid green;
  border-bottom: 1px solid yellow; */

  /* border: 10px solid pink; */

  /* border: medium solid pink; */

  /* border: 10px dotted pink; */
  /* border: 10px dashed pink;

  border: 10px double pink;

  border-bottom:none;

  border-bottom: 10px solid rgb(255, 192, var(--space-medium)7);

  border-bottom-color:blueviolet;

  border-bottom-width: 2px;

  border-top: thin groove slateblue;

  border-bottom: thick ridge lawngreen;

  outline: thin dotted yellowgreen; */

  /* border-radius: 0; */
  /* border-radius: 15px; */
  /* border-radius: 15px 30px;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 120px;

  border-top-right-radius: 15%;

  border-radius:50%; */

  /* box-shadow: 5px 2px 2px 2px rgb(67, 65, 133);

  box-shadow: 0 0 0 2px rgb(67, 65, 133);
  box-shadow: 0 0 5px 2px rgb(67, 65, 133);
  box-shadow: 5px 5px 5px 2px rgba(67, 65, 133, 0.482); */
}

.card:hover {
  outline:5px solid aqua;
  outline-offset: 5px;
  box-shadow: 5px 5px 5px 2px rgba(67, 65, 133, 0.482);
  cursor:pointer;
  cursor:not-allowed;
  cursor:context-menu;
  cursor: help;
  cursor:progress;
  cursor: wait;
  cursor:no-drop;
  cursor:crosshair;
  cursor: cell;
  cursor:text;
  cursor:vertical-text;
  cursor: alias;
  cursor:copy;
  cursor:move;
  cursor:all-scroll;
  cursor:col-resize;
  cursor: row-resize;
  cursor: n-resize;
  cursor:ne-resize;
  cursor: ns-resize;
  cursor:e-resize;
  cursor:ew-resize;
  cursor:se-resize;
  cursor:s-resize;
  cursor:sw-resize;
  cursor:w-resize;
  cursor:nw-resize;
  cursor:nesw-resize;
  cursor:nwse-resize;
  cursor: zoom-in;
  cursor:zoom-out;
  cursor:grab;
  cursor:grabbing;
  cursor:auto;

  opacity: .5;

}
/* 
.btn {
  border-radius:50%;
  border-radius:25%;
  border-radius:50px;
} */

.btn:hover {
  box-shadow: 5px 5px 5px 2px rgba(67, 65, 133, 0.482);
}

/* h1 {
  text-shadow:-20px -20px 2px #ba1846;
  text-shadow:50px -70px 0 #ba1846;
  text-shadow:50px -70px 5px #ba1846;
  text-shadow:0 0 10px #18ba20;
  text-shadow:0 0 10px rgb(82, 7, 72);
} */

/* .plans_card:nth-child(2) > .card {*/
/* background:red; */
/* display:none; */
/* } */

.plans_card:nth-child(2) {
  /* background:red; */
  /* display:none; */
  visibility:hidden;
  }

  /* p {
    background:gray;
    width:150px;
    height:100px;
    /* overflow:hidden; */
    /* overflow:scroll;
    overflow:overlay;
    overflow-x: scroll;
    overflow-y:hidden;
    text-overflow:ellipsis; */
  /*} */

body {
  /* background:red; */
  /* background-image: radial-gradient(50% 50% at 50% 50%, #0D60DC 0%, rgba(255, 255, 255, 0) 100%); */
  /* background-image: url('/img/test2.png'); */
  /* background-repeat: repeat-x;
  background-repeat: repeat-y; */
  /* background-repeat: no-repeat;
  background-repeat: space; */
  background-repeat: round;
  background-repeat: no-repeat;
  
}

  .page {
    /* background-color: red; */
    /* background-color:transparent; */
    /* background-image: url('/img/test2.png'); */
    /* background-color:rgba(var(--space-medium)5, 255, 255, 0.1); */
    /* background-repeat: no-repeat;
    background-position: bottom;
    background-position: bottom right;
    background-position: 50% 50%;
    background-position: 50% 100%;
    background-position: center;
    background-position: center right;
    background-position: top center;
    background-position: center right;
    background-size:contain;
    background-size:cover;
    background-position: top;
    background-attachment:fixed; */
  }

  .hero_text {
    /* background-image: url('/img/test2.png');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-attachment: local;
    overflow:auto;
    height:100px;
    background-attachment: scroll; */
    /* background-color:transparent; */
    /* background-image: url('/img/test2.png'); */
    /* border: 20px solid red; */
    padding:40px;
    color:rgb(19, 219, 72);
    width:585px;
      /* background-clip: padding-box;
    background-clip: content-box;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent; */

    
    /* background-origin:padding-box;
    background-origin:content-box;
    background-origin:border-box;
    background-repeat: no-repeat; */


    border-image-source: url('/img/test2.png');
    /* border-image-width:100px;
    border-image-width:auto;
    border-image-width: 20px; */
    border-image-width:5% 10%;
    border-image-slice:500;
    border-image-slice: fill;
    border-image-slice: 10% 20%;

    border-image-repeat:stretch;
    border-image-repeat:repeat;
    border-image-repeat:round;
    border-image-repeat:space;

    border-image-outset:30px;

  }

  .card_block {
    /* list-style-type: disc;
    list-style-type: circle;
    list-style-type:square;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type:lower-roman;
    list-style-type:upper-roman;
    list-style-type: lower-alpha;
    list-style-type:upper-alpha; */

    padding:0;

    list-style-position:inside;
    /* list-style-image: url('/img/test.png'); */
    list-style-image: linear-gradient(to bottom right, green, blueviolet);
  }

  .card-description_item {
    display: list-item;
  }

  /* .table tr {
    border: 1px solid rgb(74, 74, 127);
  } */

  .table tr td {
    border:1px solid rgb(51, 50, 50);
    border-bottom-color: orange;
    border-right-color:blue;
  }

  .table {  
    table-layout:fixed;
    /* table-layout:auto; */
    width:800px;
    border-collapse:separate;
    border-spacing:20px;
    border-spacing: 10px 20px;
    caption-side:top;
    empty-cells: show;
    empty-cells:hide;
  }

  /* .nav_link::before {
    content:open-quote;
  }

  .nav_link::after {
    content:close-quote;
  } */

  .nav_link::before, .nav_link::after {
    display:inline-block;
    /* content:url('/img/test2.png'); */
    width:10px;
    height:10px;
    /* background-color:red; */
    background-image:url('/img/test2.png');
    content:'';
  }

  .nav_link::before {
    margin-right: 15px; 
  }

  .nav_link::after {
    margin-left: 15px; 
  }

  .calc {
    width:800px;
    margin:0;
    margin-right:calc(100% - 800px);
    margin-left:calc(50% - (800px / 2));
  }