{{#with data}}
  <div class='articles_card' id='articles_card_id_{{id}}'>
    <img
      src='{{photo}}'
      alt='Photo'
      class='articles_card_image'
    />

    {{#if isNew}}
      <div class='articles_card_new'>
        new
      </div>
    {{/if}}
    <h4 class='articles_card_name'>{{name}}</h4>
    <p class='articles_card_description'>{{description}}</p>
    <a href='#' class='button articles_button'>Read All</a>
  </div>
{{/with}}