<div class='field field--select'>
  <div class='choose-block'>
    <span class='text text--dark'>Choose...</span>
    <span
      class='icon choose-block__arrow'
      style="background-image: url('/svg/payment/arrow-down.svg')"
    ></span>
  </div>
</div>