<div>
  <h1 class='hero_title'>{{title}}pricing tabledoor
    cornerbirdbird rnerbirdbird rnerbirdbird rnerbirdbird
  </h1>
  <p class='hero_text'>
    {{text}}
    Quickly build &shy; an effective­pricing table for your
    potesdfsfd&shy;sfdsfntial customers with this Bootstrap
    {{! <span
      class='overflow'
    >example.It'sbuiltwithdefaultBootstrapcomponentsand</span> }}
    utilities with little customization.</p>
</div>