<div class='learn_more'>
  <a href='#' class='learn_more_link click'>Learn more</a>
  <a
    href='#'
    class='icon icon_arrow click feat_link'
    style="background-image: url('/svg/feature_hw/arrow_right_blue.svg');"
  ></a>
</div>